<footer class="pt-5 pb-4">
    <hr class="my-4">
    <p style="font-size: 0.9rem;" class="text-secondary">&copy; 2025 Designed and coded with ❤️ by Fadli Ramadhan</p>
    <div>
        <a href=""><i class="text-secondary bi bi-github"></i></a>
        <a href=""><i class="text-secondary bi bi-linkedin mx-2"></i></a>
    </div>
</footer>