<header>
    <nav class="navbar navbar-expand-lg fixed-top d-flex bg-white justify-content-between" id="navbar">
        <div class="container-fluid mx-lg-5 py-lg-1">
            <a class="navbar-brand" href="#">
                <img src="../../public/img/FR.png" alt="logo" width="32" height="32">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav flex-column flex-lg-row gap-lg-4 align-items-lg-center ps-lg-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#tech">Tech Stack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <button style="font-size: 0.82rem;" type="button" class="wa-button btn fw-medium mt-2 mt-lg-0">
                            <i class="bi bi-whatsapp me-2"></i>
                        Let's Talk
                        </button>
                    </li>
                    <li class="nav-item">
                        <button style="font-size: 0.82rem;" type="button" class="cv-button btn btn-dark fw-medium mt-2 mt-lg-0"
                        id="cvbutton"><i class="bi bi-file-earmark-arrow-down me-2"></i>
                        Download CV
                        </button>
                        </li>
                    <li class="nav-item">
                        <button id="toggleMode" class="btn mode-toggle mt-2 mt-lg-0">
                        <i id="themeIcon" class="bi bi-moon"></i>
                        </button>
                    </li>
                </ul>                        
            </div>
        </div>
    </nav>
</header>