<div class="col-md-10 p-4">
    <div class="container text-center shadow-sm px-4 py-4 bg-white rounded">
        <div class="mb-3">
            <h1 class="fw-medium">Welcome Back! {{userData}}</h1>
        </div>
        <div>
            <h1 class="hand">👋</h1>
        </div>
    </div>
</div>