<div class="col-md-10 p-4">
    <div class="container text-center shadow-sm px-4 py-4 bg-white rounded">
        <div class="mb-4 d-flex gap-2 justify-content-center">
            <h1 class="fw-medium">Welcome Back! {{userData}}</h1>
            <h1 class="hand">👋</h1>
        </div>
        <div class="mb-3">
            <img src="../public/uploads/{{user.profile}}" width="260">
        </div>
        <div>
            <form action="/dashboard" enctype="multipart/form-data" class="d-flex flex-column" method="post">
                <input type="file" name="image" class="form-control mb-3">
                <button class="btn btn-success" type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</div>