body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 1px solid #a2a3a1;
}

.sidebar {
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #a2a3a1;
}
    
.sidebar a {
  padding: 1rem;
  display: block;
  color: #000;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #f1f1f1;
}

.table td,
.table th {
  white-space: nowrap;
  overflow: hidden;          
  text-overflow: ellipsis;
  max-width: 160px;
  vertical-align: middle;
}

.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 200px;
  padding: 14px 12px;
  border-radius: 10px;
  z-index: 9999;
  color: white;
  box-shadow: 0 2px 12px rgba(138, 39, 39, 0.5);
  animation: slideIn 0.4s ease;
}

.flash-success {
  background-color: rgba(25, 121, 37, 0.884);
}

.flash-error {
  background-color: rgba(235, 23, 23, 0.884);
}

.edit {
  padding: 5px 5px;
  border-radius: 6px;
  border: solid #034dee 1px;
  color: #034dee;
}

.edit:hover {
  border: solid #ffffff 1px;
  background-color: #034dee;
  color: #ffffff;
}

.delete {
  padding: 5px 5px;
  border-radius: 6px;
  border: solid red 1px;
  color: red;
}

.delete:hover {
  border: solid rgb(255, 255, 255) 1px;
  background-color: red;
  color: rgb(255, 255, 255);
}

h1.hand {
  animation: wave 5s infinite;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

img {
  border-radius: 50%;
  border: solid black 3px;
}