* {
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
}
    
.center-box {   
  height: 100vh;
  display: flex;   
  justify-content: center;   
  align-items: center;
}
    
.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;    
  border: 1px solid #ddd;
  border-radius: 10px;   
  background-color: #f8f9fa;
}

.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 200px;
  padding: 14px 12px;
  border-radius: 10px;
  z-index: 9999;
  color: white;
  box-shadow: 0 2px 12px rgba(138, 39, 39, 0.5);
  animation: slideIn 0.4s ease;
}

.flash-error {
  background-color: rgba(228, 25, 25, 0.884);
}
